<!DOCTYPE html>
<html>
<head>
    <title>One Click Sale</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<style>
  button {width: 120px; height: 32px;background-color: blue;}
</style>
<body>

<form id="payment_form">
    <input type="hidden" name="access_key" value="9b3c7d838ed93bbc9d3d05953bab7dd4">
    <input type="hidden" name="profile_id" value="citybeautycheckout">
    <input type="hidden" name="reference_number" value="">
    <input type="hidden" name="payment_token" value="5118258751146734703526">
    <input type="hidden" name="transaction_type" value="sale">
    <input type="hidden" name="amount" value="100.00">
    <input type="hidden" name="currency" value="USD">
    <input type="hidden" name="transaction_uuid" value="">
    <input type="hidden" name="merchant_defined_data5" value="">
    <input type="hidden" name="override_custom_receipt_page" value="">
    <input type="hidden" name="signed_field_names" value="access_key,profile_id,transaction_uuid,signed_field_names,signed_date_time,locale,transaction_type,reference_number,amount,currency,payment_token,merchant_defined_data5,override_custom_receipt_page">
    <input type="hidden" name="unsigned_field_names" value="">
    <input type="hidden" name="signed_date_time" value="">
    <input type="hidden" name="locale" value="en">
    <button id="submit" name="submit"></button>
</form>
<div id="data_to_sign_to"></div>
<script>
  const baseUrl = "https://checkout.citybeauty.com";
  const api_URL = "https://dbh99ppw9f.execute-api.us-east-1.amazonaws.com/prod/api";
  const devAPIURL = "http://localhost:3000/api";
  function uniqid() {
    var ts=String(new Date().getTime()), i = 0, out = '';
    for(i=0;i<ts.length;i+=2) {
       out+=Number(ts.substr(i, 2)).toString(36);
    }
    return ('5'+out);
  }

  function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  let checkoutid = "";
  checkoutid = getParameterByName("checkoutid");

  //input the required fields
  $('input[name=transaction_uuid]').val(uniqid());
  $("input[name='reference_number']").val(new Date().getTime());
  $("input[name='merchant_defined_data5']").val(checkoutid);
  $("input[name='override_custom_receipt_page']").val(`https://citybeauty.com/specialoffer/citylips-first-time-customer.php?checkoutid=${checkoutid}`);
  $("input[name='signed_date_time']").val(new Date().toISOString().split('.')[0]+"Z");

  //form submission to API
  $("#submit").click(function (event) {
    event.preventDefault();
    let formdata = {};
    formdata.access_key = $("input[name=access_key]").val();
    formdata.profile_id = $("input[name=profile_id]").val();
    formdata.reference_number = $("input[name=reference_number]").val();
    formdata.payment_token = $("input[name=payment_token]").val();
    formdata.transaction_type = $("input[name=transaction_type]").val();
    formdata.amount = $("input[name=amount]").val();
    formdata.currency = $("input[name=currency]").val();
    formdata.transaction_uuid = $("input[name=transaction_uuid]").val();
    formdata.merchant_defined_data5 = $("input[name=merchant_defined_data5]").val();
    formdata.override_custom_receipt_page = $("input[name=override_custom_receipt_page]").val();
    formdata.signed_field_names = $("input[name=signed_field_names]").val();
    formdata.unsigned_field_names = $("input[name=unsigned_field_names]").val();
    formdata.signed_date_time = $("input[name=signed_date_time]").val();
    formdata.locale = $("input[name=locale]").val();

    $.ajax({
        type: 'POST',
        data: JSON.stringify(formdata),
        contentType: 'application/json',
        crossDomain: true,
        url: `${api_URL}/oneclicksale`,
        success: function(data, status){
          // window.location = formdata.override_custom_receipt_page;
          console.log(data);
        },
        error: function (data, status) {
          console.log(data);
          console.log(status);
        }
    });
  })

</script>
</body>
</html>
