  /* Uses Bootstrap stylesheets for styling, see linked CSS*/
  html {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
  }

  body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  header img{
    width: 97px;
  }

  .centered_flex{
    display: flex;justify-content:center;align-items: center; text-align: center;
    background: rgb(9,30,55) center no-repeat fixed;height: 94px;margin: 0 auto;
  }

  .panel {
    width: 80%;
    margin: 2em auto;
  }

  .bootstrap-basic {
    background: white;
  }

  .panel-body {
    width: 90%;
    margin: 2em auto;
  }

  .helper-text {
    color: #8A6D3B;
    font-size: 12px;
    margin-top: 5px;
    height: 12px;
    display: block;
  }

  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(58, 58, 58);
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: rgb(58, 58, 58);
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: rgb(58, 58, 58);
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: rgb(58, 58, 58);
  }

  /* Braintree Hosted Fields styling classes*/
  .braintree-hosted-fields-focused {
    border: 1px solid #0275d8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }

  .braintree-hosted-fields-focused.focused-invalid {
    border: 1px solid #ebcccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
  }

  .form-control {height: 60px;}
  .hideoption {color: #cccccc;}
  #region {display: none;}
  #card-detail-heading {margin-left: -15px;}
  @media screen and (max-width:767px) {
    #securitycodefield{padding-top: 15px;padding-right: 15px;}
    #phonefield{margin-top: 15px;}
  }
  @media screen and (max-width: 670px) {
    .btn {
      white-space: normal;
    }
  }
