  body {
      color: #333; 
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-weight: 300; margin: 0; padding: 0;
      font-size: 16px!important;
    }
  .content{margin: 0 auto;padding: 30px 20px;max-width: 900px;}
  h1{font-size: 35px;}
  h2{font-size: 27px;}
  h3{font-size: 20px!important;}
  b{font-weight: 700;}
  .wait {background: url('https://checkout.citybeauty.com/resources/img/wait-US.png') no-repeat top center; 
    font-size: 23px; height: 158px; margin: 0 auto;margin-top: 20px;padding: 44px 0 0 250px;}
  #wait-insidetxt {
      margin: 0 auto; width: 400px;
  }
  #wait-insidetxt-cl {
    font-size: 28px; font-weight: 300; margin: 0 auto; width: 400px; margin-top: 16px;
  }
  .playfair-font {
    font-family: "Playfair Display", serif;
  }
  .under-wait {
    font-size: 20px;
    margin-top: -10px;
  }
  /* handles responsive */
  .wait-resp {
    margin: 0 auto;
    text-align: center;
  }

  .polygonWrap {
    margin-top: -4px;
  }
  
  .topOffer{font-size: 27px; background-color: #ebcc2b; width: 100%; padding: 20px; margin-top: 16px;}
  .heroContent {margin: 0 auto;width: 600px;}
  .heroOffer {
    background: url('https://checkout.citybeauty.com/resources/img/nybg.png') no-repeat; 
    background-size: 100%;
    margin-top:-20px;
    padding: 40px 0;
  }
  .colorsOffer {
    padding: 40px 0;
  }
  .flex-container {
    padding: 0;
    margin: 0 auto;
    list-style: none!important;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: center;
  }
  .offer-breakdown-sm {
    margin-top: 56px;
    margin-left: 20px;
    text-align: center;
    font-size: 22px;
  }
  .offer-lip-image {
    margin-right: 20px;
  }

  .upsell-panel {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    max-width: 800px;
  }
  .downsell-panel {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    max-width: 800px;
  }

  .usbtn-lg{
    font-size: 20px!important;
  }
  .xs-mbg {
    border: 1px solid;
    padding: 20px;
    margin-top: -40px;
  }
  .xs-mbg-wrap {
    float: left; margin: 6px 20px 10px 0;
  }

  .progress-bar.animate {
    width: 100%;
  }
  #product-Shot {font-size: 23px;}
  #product-img {width: 140px;}
  .offer-breakdown{padding-top: 50px;}
  #color-tubes, #color-tubes-3 {font-size: 23px;}
  #color-tubes-3 img {width: 480px;}
  #color-tubes img {width: 690px;}
  #colortubes-content-6 {width: 960px;margin: 0 auto;}
  #colortubes-content-3 {width: 750px;margin: 0 auto;}
  .fnt24{font-size: 25px;}
  .fnt27{font-size: 27px;}
  .ftn36{font-size: 36px;}
  .mbg {background: url('https://checkout.citybeauty.com/resources/img/mbg.png') no-repeat 95% 25%; padding:20px 200px 20px 20px; width: 100%; border: 1px solid; margin: auto;}
  .perTube {display: inline-block; padding-left: 36px;}
  .perTube-3 {display: inline-block; padding-left: 80px;}
  .priceProp{text-align: left;padding-top: 60px; font-size: 27px; }
  .center{text-align: center;}
  .reg{font-size: small; vertical-align: super;}
  .red{color: #C00;}
  .green{color: #499464;}
  .blue{color: #3a5eac;}
  .floatR {float: right;}
  .floatL {float: left;}
  .clear {clear: both;}
  .priceProp-sm {text-align: center;margin-top: 10px;}
  #NotTakeOffer {background-color: #DCDCDC;}
  @media screen and (max-width:992px) {
    .heroOffer {background-size: auto;}
    .upsell-panel {margin-top: -40px;margin-bottom: -40px;}
    .usbtn-lg {font-size: 16px!important;}
    .btn {white-space: normal!important;}
    .colorlip-img-wrap img {width: 75%;}
    .three-color-img-wrap img {width: 40%;}
  }
  